<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Maximus Designus</title>
        <link rel="stylesheet" href="/css/styles.css" media="screen" title="no title">
        <link rel="stylesheet" href="/css/normalize.css" media="screen" title="no title">
        <link rel="stylesheet" href="/css/bootstrap.css" media="screen" title="no title">
    </head>
    <body>
        <div class="container" id="">
            <div class="col-md-4" id="">
                <div class=" one" id="">
                    <div class="super">
                        <img src="images/row1_cicrleface.png">
                        <h2>MAXIMUS</h2>
                        <h4>LEGIO HISPANIA</h4>
                    </div>
                    <div class="sub">
                        <div class="bar">
                            <div class="col-md-4">
                                <h2>LXIII</h2>
                                <h5>ENEMIES</h5>
                            </div>
                            <div class="col-md-4">
                                <h2>VII</h2>
                                <h5>CONQUERED</h5>
                            </div>
                            <div class="col-md-4">
                                <h2>III</h2>
                                <h5>RANK</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class=" two" id="">
                    <div class="hispania">
                        <img src="images/row2-spartanhelmet.png">
                        <div class="legio">
                            <h1>LEGIO HISPANIA</h1>
                            <h4>XV</h4>
                        </div>
                        <div class="cohorts clearfix">
                            <div class="hi-left">COHORTS</div>
                            <div class="hi-right">XII</div>
                        </div>
                        <div class="legionaries clearfix">
                            <div class="hi-left">LEGIONARIES</div>
                            <div class="hi-right">MMDL</div>
                        </div>
                        <div class="equites clearfix">
                            <div class="hi-left">EQUITES</div>
                            <div class="hi-right">LXIII</div>
                        </div>

                        <img src="/images/circles.png" alt=""/>

                        <!-- <div class="col-md-4">
                            <h2>XII</h2>
                        </div>

                        <div class="col-md-4">
                            <h2>XV</h2>
                        </div>

                        <div class="col-md-4">
                            <h2>III</h2>
                        </div> -->

                    </div>
                </div>
            </div>
            <div class="col-md-4" id="">

                <div class=" three" id="">
                    <div class="spartan-vid" id="">
                        <!-- <div><img src="" alt=""></div> -->
                    </div>
                </div>

                <div class=" four" id="">
                    <img src="images/worldmap.png"></img>

                    <div class="element clearfix">
                        <div class="info-txt">
                            <h5>WARFARE</h5>
                        </div>
                        <div class="info-pic clearfix">
                            <img src="images/warefare-stas.png" alt="">
                        </div>
                    </div>

                    <div class="element clearfix">
                        <div class="info-txt">
                            <h5>SLAVES CONQUERED</h5>
                        </div>
                        <div class="info-pic">
                            <img src="images/salves-conquered.png" alt=""/>
                        </div>
                    </div>

                    <div class="element clearfix">
                        <div class="info-txt">
                            <h5>WAREFARE FORMATION</h5>
                        </div>
                        <div class="info-pic">
                            <img src="images/warefare-formation.png" alt="" style="margin-top:15px;">
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-md-4" id="">
                <div class=" five" id="">
                    <img src="images/row-5img.png"></img>
                </div>

                <div class=" six" id="">
                    <div class="surrender">
                        <img src="images/row6-house.png" alt="">
                        <h2>SURRENDER</h2>
                        <h4>ANNIHILATED</h4>
                        <img src="" alt="">
                    </div>
                </div>
            </div>
        </div>

    </body>
</html>
